


.cssIcon{
    color: #004CE8;
    font-size: 40px;
}

.htmlIcon{
    color: #E44D26;
    font-size: 40px;
}

.csharpIcon{
    color: #A47DDD;
    font-size: 40px;
}

.jsIcon{
    font-size: 40px;
    color: #F7E018;
}

.reactIcon{
    color: #66DBFB;
    font-size: 40px;
}

.sqlIcon{
    font-size: 40px;
}

.entityframeworkIcon{
    font-size: 40px;

}

.dotNetIcon{
    font-size: 28px;
}